# =========================
# Flutter / Dart
# =========================
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/

# =========================
# Firebase
# =========================
.firebase/
.firebaserc
firebase.json

# =========================
# IDEs / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db