# =========================
# Flutter / Dart
# =========================
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
coverage/

# =========================
# Node / Firebase Functions
# =========================
node_modules/
functions/node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# Firebase
# =========================
.firebase/
.firebaserc
firebase.json

# =========================
# IDEs / Editors
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db